nav{
    padding: 0 10%;
    height: 15vh;
    border-bottom: solid 2px var(--light-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 100px;
        height: 100px;
    }

    i{
        font-size: 2em;
        color: var(--light-green);
        margin-left: .5em;
    }

}

main{
    box-sizing: border-box;
    padding: 2em 10%;
    display: grid;
    grid-template-columns: 1fr 30vw;
    grid-template-rows: 3em 2em 55vh;
    gap: 1em 2em;

    h1{
        grid-column: 1 / -1;
        grid-row: 1;
        color: var(--dark-green);
        text-align: center;
    }

    #controls {
        grid-column: 1 / -1;
        grid-row: 2;
        margin: auto 0;

        label{
            font-weight: bold;
        }

        select{
            width: 20vw;
            background-color: transparent;
            border: none;
            border-bottom: solid 1px var(--dark-green);

            &:focus{
                border-bottom: solid 1px var(--light-green);
            }
        }
    }

    #map {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    #info{
        h2{
            font-size: 1.5em;
            margin-bottom: .5em;
        }
        span{
            display: block;
            width: 100%;
            padding: .4em .2em;
            margin: .2em 0 1em 0;
            font-size: 1.2em;
            background-color: #e9e9e9;
            border-radius: 5px;
        }
    }
}



